.footer-app {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 40px 10%;
  justify-content: space-between;
}

.footer-div {
  margin: 0 20px;
}

.footer-title {
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.footer-div > li {
  list-style-type: none;
  margin: 10px;
}

.footer-div > li > a {
  text-decoration: none;
  color: rgba(100, 100, 100, 9);
  margin: 10px;
}
