.nav-app {
  display: flex;
  justify-content: space-between; /* Chia 3 phần với khoảng cách đều nhau */
  align-items: center; /* Canh giữa theo chiều dọc */
  margin: 20px 15%;
}

.nav-app .nav-home .nav-btn-home {
  color: chocolate;
}

.nav-app .nav-boutique button {
  font-size: 1.5rem;
}

.nav-user-loggined {
  margin: 0 5px;
}
